<footer class="border-top py-5">
  <div class="container d-flex justify-content-between ">
    <div class="d-flex">
      <a class="py-1 px-5" href="#">服務方案</a>
      <a class="py-1 px-5" href="#">關於職旅</a>
      <a class="py-1 px-5" href="#">聯絡我們</a>
      <a class="py-1 px-5" href="#">隱私權政策</a>
      <a class="py-1 px-5" href="#">用戶條款</a>
    </div>
    <div class="copyright">
      <p>Copyright © 2025 職旅 workway. All rights reserved.</p>
    </div>
  </div>
</footer>